<div class="drama-show">
  <h1><%= @drama.title %></h1>
  <p><strong>ジャンル: </strong> <%= @drama.genre %></p>
  <p><strong>感情タグ: </strong> <%= @drama.mood %></p>
  <p><strong>どんなときに見るのがオススメ？: </strong> <%= @drama.scene %></p>
  <% if @drama.watched_on.present? %>
    <p><strong>視聴日：</strong> <%= @drama.watched_on.strftime("%Y年%m月%d日") %></p>
  <% end %>
  <p class="description"><strong>感想: </strong> <%= @drama.description %></p>
  <p><strong>公開状態: </strong><%= @drama.is_public? ? "公開中" : "非公開" %></p>

  <div class="drama-actions">
    <% if @drama.user == current_user %>
      <%= link_to "編集", edit_drama_path(@drama), class: "btn btn-primary" %>
      <%= link_to "削除", drama_path(@drama), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-delete" %>
    <% end %>
    <%= link_to "一覧に戻る", dramas_path, class: "btn btn-secondary" %>
  </div>
</div>
