<div class="form-container">
  <h2>プロフィール編集</h2>

  <%= form_with model: @profile, url: profile_path, local: true do |f| %>
    <div class="field">
      <%= f.label :nickname, "ニックネーム" %>
      <%= f.text_field :nickname%>
    </div>

    <div class="field">
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction %>
    </div>

    <div class="actions">
      <%= f.submit "更新", class: "pro-button" %>
    </div>
  <% end %>

  <%= link_to "戻る", profile_path, class: "btn btn-secondary" %>
</div>
