<div class="form-container">
  <h2>プロフィール編集</h2>

  <%= form_with model: @user, local: true, html: { multipart: true } do |f| %>
    <div class="field">
      <%= f.label :avatar, "プロフィール画像" %><br>
      <%= f.file_field :avatar, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.submit "更新", class: "pro-button" %>
    </div>
  <% end %>
</div>
